.weather-site {
  border: solid 2px #5ac2f0;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
}
.current-time,
.current-date {
  font-size: 15px;
  color: #1ab2a8;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 0px 0px 0px 10px;
  max-width: 300px;
}
.current-date {
  font-weight: bold;
  margin: 0px 5px 5px 10px;
}

.enter-city {
  border: 2px solid #5ac2f0;
  border-radius: 10px;
  width: 200px;
  margin: 0px 5px 0px 20px;
}
.put-search {
  border: 2px solid #5ac2f0;
  border-radius: 10px;
  width: 50px;
  margin: 0 auto;
}
.put-search:hover,
.enter-city:hover {
  border: 2px solid #1ab2a8;
}
.search-form {
  padding: 5px;
}
.present-location {
  border-radius: 10px;

  color: #1ab2a8;
  font-size: medium;
  border: 2px solid #07dada;
  margin-left: 350px;
}
.present-weather {
  margin-left: 350px;
  margin-top: 20px;
  max-width: 100px;
}
.current-information {
  margin: 0px 0px 10px 0px;
}
h1 {
  color: #1ab2a8;
  margin: 0 50px;
  font-style: italic;
}
h2 {
  color: #1ab2a8;
  margin: 0 50px;
}
.celciusTemp {
  color: #1ab2a8;
  text-decoration: none;
}
.farenheitTemp {
  color: #1ab2a8;
  text-decoration: none;
}
.farenheit:hover {
  color: #1ab2a8;
}

.sunny {
  margin: 15px 170px;
}

.thermometer {
  height: 40px;
  width: 40px;
  margin: 0px 200px;
}
.max-temperature,
.min-temperature {
  margin: 0px 200px;
  font-size: 14px;
  font-style: italic;
  color: grey;
}

.col-1 {
  margin: 14px;
}

.forecast-after {
  margin: 10px 20px;
}

.forecast-temperature {
  font-weight: bold;
  font-size: 12px;
}

.day1 {
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  right: 20px;
  text-align: center;
}
.day2 {
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  text-align: center;
}
.day3 {
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 20px;
  text-align: center;
}

.day4 {
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 45px;
  text-align: center;
}

.day5 {
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 70px;
  text-align: center;
}

.signiture {
  padding-top: 20px;
  display: block;
  text-align: center;
  font-size: small;
  font-weight: initial;
  font-style: italic;
}
