.weather-site {
  border: solid 2px #5ac2f0;
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
}
.current-time,
.current-date {
  font-size: 15px;
  color: #1ab2a8;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 0px 0px 0px 10px;
}
.current-date {
  font-weight: bold;
  margin: 0px 5px 5px 10px;
}

.city-search {
  margin-left: 40px;
}
.enter-city {
  border: 2px solid #5ac2f0;
  border-radius: 20px;
  width: 300px;
  margin: 0px 5px 0px 20px;
}
.put-search {
  border: 2px solid #5ac2f0;
  border-radius: 20px;
  width: 50px;
  margin: 0 auto;
}
.put-search:hover,
.enter-city:hover {
  border: 2px solid #1ab2a8;
}
.current-information {
  margin: 0px 0px 30px 0px;
}
h1 {
  color: #1ab2a8;
  margin: 0 50px;
  font-style: italic;
}
h2 {
  color: #1ab2a8;
  margin: 0 50px;
}
.celciusTemp {
  color: #1ab2a8;
  text-decoration: none;
}
.farenheitTemp {
  color: #1ab2a8;
  text-decoration: none;
}
.farenheit:hover {
  color: #1ab2a8;
}

.sunny {
  margin: 15px 100px;
}

.thermometer {
  height: 40px;
  width: 40px;
  margin: 0px 70px;
}
.max-temperature,
.min-temperature {
  margin: 0px 70px;
  font-size: 14px;
  font-style: italic;
  color: grey;
}
.current-wind {
  margin: 0px 80px;
}

.big-arrow {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  color: #5ac2f0;
}
.windspeed {
  font-style: italic;
  font-weight: bold;
  color: grey;
}
.col-1 {
  margin: 14px;
}
.present-location {
  position: relative;
  left: 100px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #1ab2a8;
  font-size: medium;
  border: 2px solid #5ac2f0;
}
.forecast-after {
  margin: 5px 50px;
}
.forecast-direction {
  margin: 5px 50px;
}
.forecast-temperature {
  font-weight: bold;
  font-size: 12px;
}

.day1 {
  border: solid #ffa726;
  border-radius: 50px;
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  right: 20px;
  text-align: center;
}
.day2 {
  border: solid #ffa726;
  border-radius: 50px;
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  text-align: center;
}
.day3 {
  border: solid yellow;
  border-radius: 50px;
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 20px;
  text-align: center;
}

.day4 {
  border: solid #006ec5;
  border-radius: 50px;
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 45px;
  text-align: center;
}

.day5 {
  border: solid #006ec5;
  border-radius: 50px;
  width: 110px;
  font-size: 10px;
  color: gray;
  font-style: italic;
  position: relative;
  left: 70px;
  text-align: center;
}

.wind1,
.wind2,
.wind3,
.wind4,
.wind5 {
  color: grey;
  margin: 0px 0px 0px 10px;
}
.wind1 {
  position: relative;
  left: -5px;
}

.wind2 {
  position: relative;
  left: 30px;
}

.wind3 {
  position: relative;
  left: 45px;
}

.wind4 {
  position: relative;
  left: 70px;
}

.wind5 {
  position: relative;
  left: 95px;
}

.small-arrow {
  color: #006ec5;
  font-weight: bolder;
  font-size: 15px;
}

.small-speed {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
